In [1]:
import pandas as pd
import joblib

In [2]:
df=pd.read_csv('dataset.csv', encoding='latin1')
df.head()

,Freelancers Names/ Organizations,username-info,Rating,Total_Reviews,Project_Amount_Earned_Points,Work_Completed_info,location,Hourly_Rate_USD,Description,Skill_info_1,Skill_info_2,Skill_info_3,Skills
0,D-bug Station,Oliahmed25,5.0,14,6.5,100,"Manikganj, Bangladesh",2.0,D-bug Station Limited is a Software design & d...,PHP,JavaScript,Python,"PHP,JavaScript,Python"
1,Live Experts ®,liveexperts123,4.9,297,8.6,99,"Daska, Pakistan",5.0,(??? ???? ?????? ??????(?? ??? ?????? \r \nhtt...,Perl,C Programming,Java,"Perl,C Programming,Java"
2,Leopedia Team,leopedia,5.0,43,8.7,100,"Ahmedabad, India",25.0,"""Your search for the best and most dependable ...",PHP,ASP,C Programming,"PHP,ASP,C Programming"
3,Indra Kumar M.,TheSEOBrains,4.9,418,8.2,96,"Jaipur, India",3.0,My name is Indra Kumar and I m Verified Freela...,JavaScript,Graphic Design,Internet Marketing,"JavaScript,Graphic Design,Internet Marketing"
4,Suchithra V.,greenarrowinfo,4.9,169,8.8,100,India,35.0,Green Arrow Infotech is a professional Website...,PHP,Website Design,Graphic Design,"PHP,Website Design,Graphic Design"

In [3]:
import re
def get_unique_countries(location_list):
    countries = set()
    for location in location_list:
        match = re.search(r'(.*),(.*)', location)
        if match:
            countries.add(match.group(2).strip())
    return countries

countries=get_unique_countries(df['location'])
df['location'] = df['location'].str.extract(r'(.*),(.*)', expand=True)[1].str.strip()

# Replacing the countries that are not in the countries set with 'Other'
df['location'].replace(to_replace=list(set(df['location'])-countries), value="Other", inplace=True)
df['location'].head()

0    Bangladesh
1      Pakistan
2         India
3         India
4         Other
Name: location, dtype: object

In [4]:
final_dataset=df[['Rating', 'Total_Reviews', 'location', 'Skill_info_1',
       'Skill_info_2', 'Skill_info_3']]
final_dataset.head()

,Rating,Total_Reviews,location,Skill_info_1,Skill_info_2,Skill_info_3
0,5.0,14,Bangladesh,PHP,JavaScript,Python
1,4.9,297,Pakistan,Perl,C Programming,Java
2,5.0,43,India,PHP,ASP,C Programming
3,4.9,418,India,JavaScript,Graphic Design,Internet Marketing
4,4.9,169,Other,PHP,Website Design,Graphic Design

In [5]:
from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
final_dataset['Skill_info_1']=label_encoder.fit_transform(final_dataset['Skill_info_1'])
final_dataset['Skill_info_2']=label_encoder.fit_transform(final_dataset['Skill_info_2'])
final_dataset['Skill_info_3']=label_encoder.fit_transform(final_dataset['Skill_info_3'])
final_dataset['location']=label_encoder.fit_transform(final_dataset['location'])

C:\Users\HP\AppData\Local\Temp\ipykernel_17588\4107636937.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['Skill_info_1']=label_encoder.fit_transform(final_dataset['Skill_info_1'])
C:\Users\HP\AppData\Local\Temp\ipykernel_17588\4107636937.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['Skill_info_2']=label_encoder.fit_transform(final_dataset['Skill_info_2'])
C:\Users\HP\AppData\Local\Temp\ipykernel_17588\4107636937.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['Skill_info_3']=label_encoder.fit_transform(final_dataset['Skill_info_3'])
C:\Users\HP\AppData\Local\Temp\ipykernel_17588\4107636937.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dataset['location']=label_encoder.fit_transform(final_dataset['location'])

In [6]:
X= final_dataset.iloc[:,0:]
X.head()

   Rating  Total_Reviews  location  Skill_info_1  Skill_info_2  Skill_info_3
0     5.0             14        12           210           275           480
1     4.9            297       101           216            82           342
2     5.0             43        56           210             8           104
3     4.9            418        56           168           239           329
4     4.9            169       100           210           511           296

In [7]:
y=df.iloc[:,7]
y.head()

0     2.0
1     5.0
2    25.0
3     3.0
4    35.0
Name: Hourly_Rate_USD, dtype: float64

In [8]:
#random forest regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=20)
regressor = RandomForestRegressor(n_estimators = 100, random_state = 30)
regressor.fit(X_train,y_train)

RandomForestRegressor(random_state=30)

In [9]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import r2_score
y_pred=regressor.predict(X_test)
y_pred
# calculate MSE and MAE
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mse",mse)
print("mae",mae)
print("r2",r2)

Mse 1454.680265693971
mae 15.440589206037203
r2 -0.11449999433470204

In [10]:
import pickle
# open a file, where you ant to store the data
file = open('Predict.pkl', 'wb')
# dump information to that file
joblib.dump(regressor, file,compress=True)

In [ ]:
# import pickle
# with open('Model_predict.pkl', 'rb') as file:
#     model = pickle.Unpickler(file).load()